/* Configuração geral da página */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ed742f, #d5542c);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Caixa de login */
.login-container {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 90%;
    max-width: 360px;;
}

/* Título */
.login-container h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Campos */
.login-container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
}

/* Botão */
.login-container button {
    width: 100%;
    padding: 12px;
    background-color: #ed742f;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}



/* Texto */
.login-container p {
    margin-top: 15px;
    color: #666;
    font-size: 14px;
}

/* Área de cadastro */
.register {
    margin-top: 20px;
}

/* Texto */
.register p {
    margin-bottom: 8px;
    color: #555;
}

/* Link criar conta */
.register a {
    text-decoration: none;
    color: #4facfe;
    font-weight: bold;
}


/* =
   CONFIGURAÇÃO GERAL
= */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ff6600; /* Fundo laranja estilo Senac */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* = PAGINA CRIAR
   CAIXA PRINCIPAL */
.login-container {
    background-color: #f2f2f2;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 400px;
}

/* 
   TÍTULOS*/
.login-container h2 {
    color: #ff6600;
    font-size: 32px;
    margin-bottom: 20px;
}

.login-container h3 {
    color: #222;
    margin-bottom: 30px;
    font-size: 24px;
}

/* BOTÕES GERAIS */
.login-container button {
    width: 100%;
    padding: 14px;
    margin: 12px 0;
    border: none;
    border-radius: 10px;
    font-size: 22px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

/*  BOTÃO ALUNO */
.aluno {
    background-color: #ff6600;
}


/*   BOTÃO PROFESSOR*/
.professor {
    background: linear-gradient(to right, #005baa, #1d4ed8);
}


/*  BOTÃO ADMINISTRADOR */
.admin {
    background: linear-gradient(to right, #374151, #0f172a);
}


/* LINK VOLTAR */
.register {
    margin-top: 25px;
}

.register a {
    text-decoration: none;
    color: #005baa;
    font-size: 18px;
    font-weight: bold;
}



