@import url('https://cdn-uicons.flaticon.com/4.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
}

body {
     background: linear-gradient(135deg, #f6bf86, #e58e4f);    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   font-family: "Fjalla One", sans-serif; 
}

.container {
    background-color: #005594;
    width: 420px;
    border: 2px solid #005594;
    border-radius: 10px;
    padding: 30px 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.container h1 {
    font-size: 36px;
    text-align: center;
}

.input-container {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-container input {
    width: 100%;
    height: 100%;
    border: 2px solid rgba(21, 21, 27, 0.25) ;
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #005594;
    padding: 20px 40px 20px 20px;
}

.input-container input ::placeholder {
    color: #9dd2fa;
}

.input-container i {
    position: absolute;
    right: 20px;
    top: 25%;
    font-size: 20px;
}

.lembra_senha_esqueci_senha {
    display: flex;
    justify-content: space-between;
    margin: none;
}

.lembra_senha_esqueci_senha label input {
    accent-color: #fff;
    margin-right: 5px;
}

.lembra_senha_esqueci_senha a {
    text-decoration: none;
    color: #5aaeee;
}

.lembra_senha_esqueci_senha a:hover {
    text-decoration: underline;
}

.Login_button {
    width: 100%;
    height: 50px;
    background-color: #000000;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    box-shadow: rgba(50, 50, 93, 0.25);
}

.Login_button:hover {
    background-color: #333333;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}